<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">
  <!-- SENSORS -->

  <xacro:arg name="arm_type" default=""/>
  <xacro:arg name="use_imu" default="false"/>
  <xacro:arg name="use_d435" default="false"/>

  <xacro:property name="arm" value="$(arg arm_type)"/>
  <xacro:property name="imu" value="$(arg use_imu)"/>
  <xacro:property name="d435" value="$(arg use_d435)"/>
  
  <!-- When there is an arm mounted, the joints of the wheels needs 
  to be of fixed type. The reason being, both the drive modules and 
  the arm cannot publish joint states simultenously. Thus we omit
  the visualization of the drives. Issue will be fixed, when we switch
  to ROS 2 control. -->
  <xacro:property name="ODM_joint_type" value="revolute"/>

  <xacro:unless value="${arm == ''}">
    <xacro:property name="ODM_joint_type" value="fixed"/>
  </xacro:unless>

  <link name="base_link"/>
  <joint name="base_footprint_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 -1"/>
    <!-- <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="3.5"/> -->
    <joint_properties damping="1" friction="1"/>
    <parent link="base_link"/>
    <child link="base_footprint"/>
  </joint>
  <link name="base_footprint">
    <inertial>
      <mass value="140"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="7.8" ixy="0.0" ixz="0" iyy="7.8" iyz="0.0" izz="7.8"/>
    </inertial>
    <visual>
      <origin rpy="0 0 -1.571" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 -1.571" xyz="0. 0. 0."/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_caster_front_left_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 0" xyz="0.24 0.18 0.22"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="6.5"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="base_footprint"/>
    <child link="mpo_700_caster_front_left_link"/>
  </joint>
  <link name="mpo_700_caster_front_left_link">
    <inertial>
      <mass value="12.7"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.27258101" ixy="0" ixz="0" iyy="0.27258101" iyz="0" izz="0.27258101"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_caster_front_right_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 0" xyz="0.24 -0.18 0.22"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="6.5"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="base_footprint"/>
    <child link="mpo_700_caster_front_right_link"/>
  </joint>
  <link name="mpo_700_caster_front_right_link">
    <inertial>
      <mass value="12.7"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.27258101" ixy="0" ixz="0" iyy="0.27258101" iyz="0" izz="0.27258101"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.14" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.14" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_caster_back_left_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 0" xyz="-0.24 0.18 0.22"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="6.5"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="base_footprint"/>
    <child link="mpo_700_caster_back_left_link"/>
  </joint>
  <link name="mpo_700_caster_back_left_link">
    <inertial>
      <mass value="12.7"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.27258101" ixy="0" ixz="0" iyy="0.27258101" iyz="0" izz="0.27258101"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_caster_back_right_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 0" xyz="-0.24 -0.18 0.22"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="6.5"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="base_footprint"/>
    <child link="mpo_700_caster_back_right_link"/>
  </joint>
  <link name="mpo_700_caster_back_right_link">
    <inertial>
      <mass value="12.7"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.27258101" ixy="0" ixz="0" iyy="0.27258101" iyz="0" izz="0.27258101"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.14" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.14" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-HEAD.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_wheel_front_left_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 0" xyz="0.0 0.045 -0.12"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="20.5"/>
    <axis xyz="0 -1 0"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="mpo_700_caster_front_left_link"/>
    <child link="mpo_700_wheel_front_left_link"/>
  </joint>
  <link name="mpo_700_wheel_front_left_link" type="wheel">
    <inertial>
      <mass value="1.2"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.11042056" ixy="0.0" ixz="0.0" iyy="0.11042056" iyz="0.0" izz="0.11042056"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.14" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.09"/>
        <!-- <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_wheel_front_right_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 3.14" xyz="0.0 -0.045 -0.12"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="20.5"/>
    <axis xyz="0 -1 0"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="mpo_700_caster_front_right_link"/>
    <child link="mpo_700_wheel_front_right_link"/>
  </joint>
  <link name="mpo_700_wheel_front_right_link" type="wheel">
    <inertial>
      <mass value="1.2"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.11042056" ixy="0.0" ixz="0.0" iyy="0.11042056" iyz="0.0" izz="0.11042056"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.14" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.09"/>
        <!-- <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_wheel_back_left_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 0" xyz="0.0 0.045 -0.12"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="20.5"/>
    <axis xyz="0 -1 0"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="mpo_700_caster_back_left_link"/>
    <child link="mpo_700_wheel_back_left_link"/>
  </joint>
  <link name="mpo_700_wheel_back_left_link" type="wheel">
    <inertial>
      <mass value="1.2"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.11042056" ixy="0.0" ixz="0.0" iyy="0.11042056" iyz="0.0" izz="0.11042056"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.14" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.09"/>
        <!-- <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="mpo_700_wheel_back_right_joint" type="${ODM_joint_type}">
    <origin rpy="0 0 3.14" xyz="0.0 -0.045 -0.12"/>
    <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="20.5"/>
    <axis xyz="0 -1 0"/>
    <joint_properties damping="30" friction="110"/>
    <parent link="mpo_700_caster_back_right_link"/>
    <child link="mpo_700_wheel_back_right_link"/>
  </joint>
  <link name="mpo_700_wheel_back_right_link" type="wheel">
    <inertial>
      <mass value="1.2"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.11042056" ixy="0.0" ixz="0.0" iyy="0.11042056" iyz="0.0" izz="0.11042056"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.14" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.09"/>
        <!-- <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/> -->
      </geometry>
    </collision>
  </link>
  <!-- Sensors -->
  <joint name="lidar_1_joint" type="fixed">
    <axis xyz="0 1 0"/>
    <origin rpy="3.14 0 0.79" xyz="0.338 0.288 0.223"/>
    <parent link="base_link"/>
    <child link="lidar_1_link"/>
  </joint>
  <link name="lidar_1_link" type="laser">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="lidar_2_joint" type="fixed">
    <axis xyz="0 1 0"/>
    <origin rpy="3.14 0 3.93" xyz="-0.338 -0.288 0.223"/>
    <parent link="base_link"/>
    <child link="lidar_2_link"/>
  </joint>
  <link name="lidar_2_link" type="laser">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Realsense D435 -->
  <xacro:if value="${d435 == True}">
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
    <xacro:sensor_d435 parent="base_link">
      <origin xyz="0.292 0.0 0.716" rpy="0 0 0"/>
    </xacro:sensor_d435>
  </xacro:if>
  
  <!-- Using IMU -->
  <xacro:if value="${imu == True}">
    <link name="imu_link">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001" />
      </inertial>  
    </link>
    <joint name="imu2_joint" type="fixed">
      <axis xyz="0 1 0"/>
      <origin rpy="0 0 0" xyz="-0.052 0.208 0.266"/>
      <parent link="base_link"/>
      <child link="imu_link"/>
    </joint>
  </xacro:if>

  <xacro:unless value="${arm == ''}">
    <xacro:arg name="tf_prefix" default="${arm}" />
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg arm_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg arm_type)/default_kinematics.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg arm_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg arm_type)/visual_parameters.yaml"/>
    <xacro:arg name="transmission_hw_interface" default=""/>
    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>
    <xacro:arg name="force_abs_paths" default="false" />

    <!-- cabinet link -->
    <joint name="cabinet_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.025 0 0.35"/>
      <joint_properties damping="1" friction="1"/>
      <parent link="base_link"/>
      <child link="cabinet_link"/>
    </joint>
    <link name="cabinet_link">
    <inertial>
      <mass value="2"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.457072" ixy="0.0" ixz="0.0" iyy="0.23616" iyz="0.0" izz="0.686"/>
    </inertial>
    <visual>
      <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/cabin.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0. 0. 0"/>
      <geometry>
        <mesh filename="package://neo_mpo_700-2/robot_model/mpo_700/meshes/cabin.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    </link>

    <!-- arm link -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:ur_robot name="${arm}"
      parent="cabinet_link"
      tf_prefix="$(arg tf_prefix)"
      joint_limits_parameters_file="$(arg joint_limit_params)"
      kinematics_parameters_file="$(arg kinematics_params)"
      physical_parameters_file="$(arg physical_params)"
      visual_parameters_file="$(arg visual_params)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)"
      >
      <!-- position robot in the world -->
      <origin xyz="0.133 0.0 0.416" rpy="0.0 0.0 0.0" />
    </xacro:ur_robot>
  </xacro:unless>

</robot>
