<?xml version="1.0"?>
<!--
Author: Pradheep Padmanabhan
Contributor: Adarsh Karan K P
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

  <!--Wheel Macro-->
  <xacro:macro name="mpo_700_wheel" params="
    wheel_prefix 
    parent_prefix
    *origin
    wheel_joint_type 
    ">

    <joint name="${wheel_prefix}_joint" type="${wheel_joint_type}">
      <xacro:insert_block name="origin"/>
      <axis xyz="0 -1 0"/>
      <dynamics damping="1" friction="1"/>
      <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="100"/>
      <parent link="${parent_prefix}_link"/>
      <child link="${wheel_prefix}_link"/>
    </joint>

    <link name="${wheel_prefix}_link" type="wheel">
      <inertial>
        <mass value="1.2"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia 
          ixx="0.11042056" 
          ixy="0" 
          ixz="0" 
          iyy="0.11042056" 
          iyz="0" 
          izz="0.11042056"
          />
      </inertial>
      <visual>
        <origin rpy="0 0 3.14" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://neo_mpo_700-2/robot_model/meshes/MPO-700-WHEEL.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <sphere radius="0.09"/>
        </geometry>
      </collision>
    </link>
      
  </xacro:macro>

</robot>
