<?xml version="1.0"?>
<!--
Author: Pradheep Padmanabhan
Contributor: Adarsh Karan K P
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

  <!-- Import wheel macros -->
  <xacro:include filename="$(find neo_mpo_700-2)/robot_model/xacros/mpo_700_caster_wheel_macro.xacro"/>
  <xacro:include filename="$(find neo_mpo_700-2)/robot_model/xacros/mpo_700_wheel_macro.xacro"/>

  <xacro:macro name="mpo_700_body">

    <!-- Required for visualizing the left ODM's outwards during the start -->
    <xacro:property name="angle_comp" value="1"/> 
    <xacro:property name="disp_comp" value="-1"/> 
    <xacro:if value="${ODM_joint_type == 'fixed'}">
      <xacro:property name="angle_comp" value="0"/> 
      <xacro:property name="disp_comp" value="1"/> 
    </xacro:if>

    <link name="base_link"/>
    
    <link name="base_footprint">
      <inertial>
        <mass value="140"/>
        <origin xyz="0 0 0"/>
        <inertia 
          ixx="7.8" 
          ixy="0.0" 
          ixz="0" 
          iyy="7.8" 
          iyz="0.0" 
          izz="7.8"
          />
      </inertial>
      <visual>
        <origin rpy="0 0 -1.571" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://neo_mpo_700-2/robot_model/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 -1.571" xyz="0. 0. 0."/>
        <geometry>
          <mesh filename="package://neo_mpo_700-2/robot_model/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <dynamics damping="1" friction="1"/>
      <parent link="base_link"/>
      <child link="base_footprint"/>
    </joint>

    <!-- Caster wheels -->
    <xacro:mpo_700_caster_wheel 
      caster_prefix="caster_front_left" 
      parent_link="base_footprint"
      caster_joint_type="${ODM_joint_type}"
      link_origin_rpy="0 0 ${3.14 * angle_comp}"
      >
      <origin rpy="0 0 0" xyz="0.25 0.18 0.22"/>
    </xacro:mpo_700_caster_wheel>

    <xacro:mpo_700_caster_wheel 
      caster_prefix="caster_front_right"
      parent_link="base_footprint"
      caster_joint_type="${ODM_joint_type}"
      link_origin_rpy="0 0 3.14"
      >
      <origin rpy="0 0 0" xyz="0.25 -0.18 0.22"/>
    </xacro:mpo_700_caster_wheel>

    <xacro:mpo_700_caster_wheel 
      caster_prefix="caster_back_left"
      parent_link="base_footprint"
      caster_joint_type="${ODM_joint_type}"
      link_origin_rpy="0 0 ${3.14 * angle_comp}"
      >
      <origin rpy="0 0 0" xyz="-0.25 0.18 0.22"/>
    </xacro:mpo_700_caster_wheel>

    <xacro:mpo_700_caster_wheel 
      caster_prefix="caster_back_right"
      parent_link="base_footprint"
      caster_joint_type="${ODM_joint_type}"
      link_origin_rpy="0 0 3.14"
      >
      <origin rpy="0 0 0" xyz="-0.25 -0.18 0.22"/>
    </xacro:mpo_700_caster_wheel>

    <!-- Wheels -->
    <xacro:mpo_700_wheel 
      wheel_prefix="wheel_front_left"
      parent_prefix="caster_front_left" 
      wheel_joint_type="${ODM_joint_type}"
      >
      <origin rpy="0 0 ${3.14 * angle_comp}" xyz="0.0 ${0.045 * disp_comp} -0.12"/>
    </xacro:mpo_700_wheel>

    <xacro:mpo_700_wheel 
      wheel_prefix="wheel_front_right" 
      parent_prefix="caster_front_right" 
      wheel_joint_type="${ODM_joint_type}"
      >
      <origin rpy="0 0 3.14" xyz="0.0 -0.045 -0.12"/>
    </xacro:mpo_700_wheel>

    <xacro:mpo_700_wheel 
      wheel_prefix="wheel_back_left" 
      parent_prefix="caster_back_left"
      wheel_joint_type="${ODM_joint_type}"
      >
      <origin rpy="0 0 ${3.14 * angle_comp}" xyz="0.0 ${0.045 * disp_comp} -0.12"/>
    </xacro:mpo_700_wheel>

    <xacro:mpo_700_wheel
      wheel_prefix="wheel_back_right"
      parent_prefix="caster_back_right" 
      wheel_joint_type="${ODM_joint_type}"
      >
      <origin rpy="0 0 3.14" xyz="0.0 -0.045 -0.12"/>
    </xacro:mpo_700_wheel>
      
  </xacro:macro>

</robot>
